<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nesty</title>
    <link rel="stylesheet" href="/stylesheets/property.css">
    <style>
        .hidden{
            display: none;
        }
    </style>
</head>
<body>
    <ul id="card">
        <li><img src="https://a0.muscache.com/im/pictures/9caaca2d-6892-4638-b675-6a879974f5ed.jpg?im_w=1680" alt="" style="width: 20rem;"></li>
        <li><%= propertyName %></li>
        <li>Nest at <%= propertyPlace %></li>
        <li>Cost: <%= cost %></li>
        <li>Owner: <%= propertyOwner %></li>
        <li>From: <%= from %></li>
        <li>To: <%= to %></li>
    </ul>

    <form action="/thanku" method="post">
        
        <input class="hidden" type="text" name="propertyName" value="<%= propertyName %>">
        <input class="hidden" type="text" name="propertyPlace" value="<%= propertyPlace %>">
        <input class="hidden" type="text" name="from" value="<%= from %>">
        <input class="hidden" type="text" name="to" value="<%= to %>">
        <button type="submit">Book!</button>
    </form>
</body>
</html>